html,
body {
  font-family: "PT Sans Narrow", "Aria", sans-serif;
  font-size: 14px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 1200px;
  min-width: 768px;
  min-height: 2762px;
  margin: 0 auto;
  color: #000000
}

body {
  /*background: #000000 url("sed.jpg") no-repeat 50% 1px;
  background-size: 1200px auto;*/
  background: #ffffff url("../img/background-photo.png") no-repeat 50% 56px;
  background-size: 100% 515px;
}

.clearfix::after {
  content:"";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 76px;
  color: #000000
  background: #ffffff;
}

.main-navigation {
  min-height: 56px;
  margin: 0 6%;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 26px;
  width: 20%;
  text-align: center;
}

.main-navigation li:nth-child(3) {
    position: relative;
}

.main-navigation a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation a:hover
{
  color: #a3c7de;
}

.main-navigation a:active
{
  color: #c7c7c7;
}

li .logo {
  position: absolute;
  top: -15px;
  z-index: 1;
  left: 50%;
  margin-left: -64px;
}

.intro-image {
  height: 352px;
  width: 458px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 135px;
}

.intro-image img {
  height: 352px;
  width: 458px;
}

.feature-title {
  min-height: 99px;
  width: 489px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
  text-align: center;
}

.slogan {
  width: 440px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.feature-title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.feature-title p:first-child {
  margin-bottom: 31px;
}

.first-feature {
  width: 100%;
  font-size: 0;
  background-color: #81b3d2;
  color: #ffffff;
}

.right-side-bar {
  display: inline-block;
  vertical-align: top;
  height: 256px;
  width: 33%;
  white-space: pre-wrap;
  text-align: center;
  font-size: 0px;
  padding: 44px 0;
  box-sizing: border-box;
}

.right-side-bar .feature-name {
  display: block;
  font-size: 21px;
  font-weight: 700;
  max-width: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.right-side-bar .number {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 21px;
  width: 51px;
  font-size: 14px;
  font-weight: 400;
}

.right-side-bar p {
  margin-left: auto;
  margin-right: auto
  text-transform: uppercase;
  padding: 0 15%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 43px;
}

.sedona-view-pic {
  display: inline-block;
  vertical-align: top;
  width: 66%;
  height: 256px;
}



.promo-item {
  float: left;
  height: 330px;
  width: 33%;
}

.left-side-bar {
  display: inline-block;
  height: 256px;
  width: 33%;
}

.delils-bridge-pic {
  display: inline-block;
  width: 66%;
  height: 256px;
}

.second-feature {
  width: 100%;
}

.features {
  marigin-bottom: 50px;
}

.feature {
  float: left;
  height: 256px;
  width: 33%;
}

.index-content-bottom {
  margin-left: auto;
  margin-right: auto;
  width: 568px;

}

.hidden {
  display: none;
}

.hotel-search {
  height: 481px;
  width: 568px;
  margin-top: 205px;
  border: dashed 1px;
  margin-left: auto;
  margin-right: auto;
}

.iframe {
  height: 473px;
  width: 100%;
}

.main-footer {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  height: 120px;
  width: 100%;
}

.hashtag {
  display: inline-block;
  width: 33%;
}

.social {
  display: inline-block;
  width: 33%
}

.copyright {
  display: inline-block;
  width: 33%
}
