html,
body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 1200px;
  min-width: 768px;
  min-height: 2762px;
  margin: 0 auto;
  color: #000000
}

body {
  background: #ffffff url("../img/background-photo.png") no-repeat 50% 56px ;
  background-size: 100% 515px;
}

.clearfix::after {
  content:"";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 76px;
  color: #000000
  background: #ffffff;
}

.main-navigation {
  min-height: 56px;
  margin: 0 6%;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 26px;
  width: 20%;
  text-align: center;
}

.main-navigation li:nth-child(3) {
  position: relative;
}

.main-navigation a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation a:hover
{
  color: #a3c7de;
}

.main-navigation a:active
{
  color: #c7c7c7;
}

li .logo {
  position: absolute;
  top: -15px;
  z-index: 1;
  left: 50%;
  margin-left: -64px;
}

.intro-image {
  height: 352px;
  width: 458px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 135px;
}

.intro-image img {
  height: 352px;
  width: 458px;
}

.feature-title {
  min-height: 99px;
  width: 489px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
  text-align: center;
}

.slogan {
  width: 440px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.feature-title p {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.feature-title p:first-child {
  margin-bottom: 31px;
}

.first-feature {
  width: 100%;
  font-size: 0;
}

.side-bar {
  display: inline-block;
  vertical-align: top;
  background-color: #81b3d2;
  color: #ffffff;
  height: 256px;
  width: 33%;
  white-space: pre-wrap;
  text-align: center;
  font-size: 0px;
  padding: 44px 0;
  box-sizing: border-box;
}

.feature-name {
  display: block;
  font-size: 21px;
  font-weight: 700;
  max-width: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  margin-top: 0;
}

.number {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 21px;
  width: 51px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 26px;
}

.number + p {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  padding: 0 15%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 0;
  max-width: 252px;
}

.feature-img {
  display: inline-block;
  vertical-align: top;
  width: 66%;
  height: 256px;
}

.promo-recomendations {
  font-size: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.promo-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  height: 330px;
  width: 33%;
  text-align: center;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 60px;
  box-sizing: border-box;
}

.housing-promo-logo {
  width: 75px;
  height: 72px;
  background: #ffffff url("../img/sprites.png") no-repeat center;
  background-position: -154px -53px ;
}

.food-promo-logo {
  width: 74px;
  height: 70px;
  background: #ffffff url("../img/sprites.png") no-repeat center;
  background-position: -2px -54px ;
}

.present-promo-logo {
  width: 64px;
  height: 76px;
  background: #ffffff url("../img/sprites.png") no-repeat center;
  background-position: -86px -51px;
}

.promo-item .logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.promo-item h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.promo-item p {
  padding: 0 15%;
  margin-left: auto;
  margin-right: auto
}

.second-feature {
  width: 100%;
  font-size: 0;
}

.features {
  font-size: 0;
  margin-bottom: 57px;
}

.feature {
  display: inline-block;
  vertical-align: top;
  height: 256px;
  width: 33%;
  background-color: #eee;
  text-align: center;
  padding-top: 45px;
  box-sizing: border-box;
}


.index-content-bottom {
  margin: 0 auto;
  width: 568px;
}

.interest-block {
  margin-left: auto;
  margin-right: auto;
  width: 434px;
  min-height: 96px;
  line-height: 24px;
  text-transform: uppercase;
}

.interest-block h2 {
  text-align: center;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 34px;
}

.interest-block p {
  text-align: center;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 50px;
}

.hotel-search {
  width: 568px;
  height: 481px;
}

.btn {
  display: inline-block;
  padding: 33px 164px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #766357;
  border: none;
  outline: none;
  cursor: pointer;
}

/*.hidden {
  display: none;
}*/

.search-form {
  position: absolute;
  height: 481px;
  width: 568px;
  border: none;
}

.iframe {
  height: 473px;
  width: 100%;
}

.main-footer {
  font-size: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  height: 120px;
  width: 100%;
}

.hashtag {
  display: inline-block;
  width: 33%;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.social {
  display: inline-block;
  width: 33%;
  font-size: 0;
}

.twitter-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -49px 0;
  margin-left: 6px;
}

.facebook-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -97px 0;
  margin-left: 6px;
}

.youtube-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -2px 0;
  margin-left: 6px;
}

.copyright {
  display: inline-block;
  width: 33%;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
