html,
body {
  max-width: 1200px;
  min-height: 2762px;
  margin: 0 auto;
}

body {
  background: #000000 url("sed.jpg") no-repeat 50% 1px;
  background-size: 1200px auto;
}

.container {
  background-color: RGBA(255, 0, 0, 0.5);
  /**/
}

.main-navigation {
  min-height: 56px;
  margin: 0 6%;
  background-color: RGBA(100, 15, 77, 0.5);
}
